@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400&family=Syne:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #000000;
}

h1,
h2 {
  font-family: "Syne", sans-serif;
  font-weight: 800;
}

p {
  line-height: 1.5;
}

#nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 2em;
  padding-top: 1em;
  text-transform: uppercase;
}

#nav ul li {
  margin-left: 20px;
}

a {
  color: #fff;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  text-decoration: none;
}

a:hover {
  color: green;
  font-weight: 600;
}
.hero-image {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image img.logo {
  position: relative;
  max-width: 20%;
}

.body-content {
  padding: 0 2em 0 2em;
}

.content {
  text-align: left;
  max-width: 50%;
  padding-bottom: 2em;
}

.content h1 {
  font-size: 2em;
  padding-bottom: 0.4em;
  padding-top: 0.3em;
}

.content p {
  font-size: 1em;
}

.home__social-link {
  padding: 0.2em;
}

.footer__rights {
  padding-bottom: 1em;
}

.clientsLogos {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.clientsLogos img {
  max-width: 50%;
  height: auto;
}

.partnerLogos {
  width: 50%;
}

.partnerLogos img {
  max-width: 100%;
  height: auto;
}

.partners,
.clients {
  padding-top: 5em;
}

/*div {
  border: 1px solid red;
}*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 70%;
  margin: auto;
}

.video video {
  width: 100%;
  height: auto;
}

.video.landscape {
  flex-basis: 100%;
}

.video.portrait {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(33% - 10px);
}

@media screen and (max-width: 600px) {
  .video.portrait {
    flex-basis: calc(50% - 10px);
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .close {
  position: absolute;
  top: -5px;
  right: 5px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.embed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal iframe {
  width: 80%;
  height: 80%;
  border: none;
  background-color: #000000d2;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal .close {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.embed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal iframe {
  width: 80%;
  height: 80%;
}
