@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400&family=Syne:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
}

h1,
h2 {
  font-family: "Syne", sans-serif;
  font-weight: 800;
}

p {
  line-height: 1.5;
}

#nav ul,
#nav-footer ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 1em 0 2em 0;
  text-transform: uppercase;
}

#nav-footer ul {
  justify-content: center;
}

#nav ul li,
#nav-footer ul li {
  margin-left: 1.5em;
}

a {
  font-weight: 600;
  font-family: "Syne", sans-serif;
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: green;
  font-weight: 600;
}

.home__social a {
  font-size: x-large;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image img.logo {
  position: relative;
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.body-content {
  width: 80%;
  margin: auto;
}

.content {
  text-align: left;
  max-width: 50%;
  padding-bottom: 2em;
}

.content h1 {
  font-size: 2em;
  padding-bottom: 0.4em;
  padding-top: 0.3em;
}

.content p {
  font-size: 1em;
  padding-bottom: 1em;
}
.content a {
  opacity: 0.5;
  padding: 0.2em;
  transition: opacity 0.5s ease-in-out;
}

.content a:hover {
  opacity: 1;
}

.footer__rights {
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
  font-size: small;
}

.footer__rights p {
  color: #e2e2e259;
}

.footer__rights img {
  width: 10%;
  opacity: 0.4;
}

.clientsLogos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.clientsLogos img {
  max-width: 30%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  transition: max-width 0.5s ease-in-out;
}

.clientsLogos img:hover {
  max-width: 32%;
  opacity: 1;
}

.partnerLogos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnerLogos img {
  max-width: 95%;
  height: auto;
  transition: max-width 0.5s ease-in-out;
}

.partnerLogos img:hover {
  max-width: 100%;
}

.partners,
.clients {
  padding-top: 5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin: auto;
}

.video video {
  width: 100%;
  height: auto;
}

.video.landscape {
  flex-basis: 100%;
}

.video.portrait {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(33% - 10px);
}

@media screen and (max-width: 600px) {
  .video.portrait {
    flex-basis: calc(50% - 10px);
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.embed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal iframe {
  width: 80%;
  height: 80%;
  border: none;
  background-color: #0000003d;
}

#imageGallery {
  display: none;
}

@media screen and (max-width: 600px) {
  #nav {
    display: none;
  }

  #videoGallery {
    display: none;
  }

  #imageGallery {
    display: block;
  }

  .container img {
    width: 100%;
  }

  #nav-footer {
    width: 90%;
    margin: auto;
  }

  body {
    font-size: 90%;
  }

  h2 {
    font-size: medium;
  }

  .content {
    max-width: 100%;
  }

  .body-content,
  .content,
  .home__social,
  .partners,
  .clients,
  .footer__rights {
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .hero-image img.logo {
    width: 70%;
  }

  .footer__rights img {
    width: 20%;
  }

  .video.landscape,
  .video.portrait {
    flex-basis: 100%;
  }
}
